.range{
    -webkit-appearance: none;
    margin-right: 15px;
    width: 50%;
    height: 5px;
    background: rgb(83, 93, 166);;
    border-radius: 5px;
    background-image: linear-gradient(white, white);
    background-size: 70% 100%;
    background-repeat: no-repeat;
  }
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 2px 0 #555;
}
.range::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  .range1{
    -webkit-appearance: none;
    margin-right: 15px;
    /* width: 50%; */
    height: 5px;
    background: grey;
    border-radius: 5px;
    background-image: linear-gradient(rgb(83, 93, 166), rgb(83, 93, 166));
    background-size: 50% 100%;
    background-repeat: no-repeat;
  }
.range1::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 2px 0 #555;
}
.range1::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
